---
import Base from "@layouts/Base.astro";
---

<Base title="Login - ZenBlogs">
  <div class="mx-auto flex min-h-screen w-full max-w-lg items-center justify-center p-6">
    <form id="login-form" class="bg-white text-black p-8 rounded-lg shadow-lg w-full max-w-md flex flex-col gap-6">
      <h1 class="text-center text-3xl font-semibold text-gray-800">Login to ZenBlogs</h1>
      
      <div class="flex flex-col gap-2">
        <label for="email" class="text-sm font-medium text-gray-700 hidden">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Email"
          required
          class="border border-gray-300 focus:border-purple-500 focus:ring focus:ring-purple-200 focus:outline-none p-3 rounded-md shadow-sm"
        />
      </div>

      <div class="flex flex-col gap-2">
        <label for="password" class="text-sm font-medium text-gray-700 hidden">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          required
          class="border border-gray-300 focus:border-purple-500 focus:ring focus:ring-purple-200 focus:outline-none p-3 rounded-md shadow-sm"
        />
      </div>

      <button type="submit" class="bg-purple-700 hover:bg-purple-600 uppercase font-black text-white text-xl p-3 rounded-md transition duration-300 ease-in-out">
        Login
      </button>
    </form>
  </div>
</Base>

<script>
  const loginForm = document.getElementById("login-form") as HTMLFormElement;

  loginForm.addEventListener("submit", async (event) => {
    event.preventDefault();

    const email = loginForm.email.value;
    const password = loginForm.password.value;

    if (email == "contact@nnisarg.in" && password == "password") {
      sessionStorage.setItem("user", "Nnisarg");
      window.location.href = "/";
    }
    else {
      alert("Invalid credentials");
    }
  });
</script>
